@import 'tailwindcss';

@font-face {
    font-family: 'Outfit';
    src: url('/font/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/font/CascadiaCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/font/CascadiaCode-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html,
body {
    background-color: black;
    color: var(--color-neutral-200);
    width: 100%;
    height: 100%;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    color-scheme: dark;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

@media (min-width: 640px) { .contain { max-width: 640px; } }
@media (min-width: 768px) { .contain { max-width: 768px; } }
@media (min-width: 1024px) { .contain { max-width: 1024px; } }
@media (min-width: 1280px) { .contain { max-width: 1280px; } }
@media (min-width: 1536px) { .contain { max-width: 1536px; } }

*,
*::before,
**::after {
    box-sizing: border-box;
}

.fade-out {
    animation: fade-out 1000ms linear 4000ms 1 normal forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}